@page
@model CarRentalRazor.Pages.UserManager.ProfileModel
@{
    ViewData["Title"] = "Profile page";
}

<div>
    <section id="User info">
        <p>Name: @HttpContext.Session.GetString("CustomerFirstName") @HttpContext.Session.GetString("CustomerLastName")</p>
        <p>E-mail: @HttpContext.Session.GetString("CustomerEmail")</p>
        <p><a asp-page="./EditProfile" asp-route-id="@HttpContext.Session.GetInt32("CustomerId")">Edit</a></p>
     </section>

    <section>
        <p><a asp-page="./ReservationList">My Reservations</a></p>
    </section>

    <section>
        <form method="post" asp-page-handler="SignOut">
            <button type="submit" class="btn btn-link nav-link text-dark">Sign Out</button>
        </form>
    </section>
</div>