@page
@model CarRentalRazor.Pages.UserManager.ReservationsModel

@{
    ViewData["Title"] = "Reservations";
}

<h1>Reservations</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Car.Id" class="form-control" asp-items="ViewBag.CarId" />
            <div class="form-group">
                <label asp-for="Reservation.StartDate" class="control-label"></label>
                <input asp-for="Reservation.StartDate" class="form-control" />
                <span asp-validation-for="Reservation.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.EndDate" class="control-label"></label>
                <input asp-for="Reservation.EndDate" class="form-control" />
                <span asp-validation-for="Reservation.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
